{% extends "layout/base.html" %}
{% block contenido %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registrar Área de Conocimiento</h6>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label>Gran Área</label>
                <input type="text" name="gran_area" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Área</label>
                <input type="text" name="area" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Disciplina</label>
                <input type="text" name="disciplina" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{{ url_for('area_conocimiento.index') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}