{% extends "layout/base.html" %}
{% block contenido %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Programas</h6>
        <a href="{{ url_for('programa.crear') }}" class="btn btn-primary btn-sm">+ Nuevo Programa</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Nivel</th>
                        <th>Ciudad</th>
                        <th>Graduados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in programas %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.nivel }}</td>
                        <td>{{ p.ciudad }}</td>
                        <td>{{ p.cant_graduados }}</td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm">ver</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}